/*Fonts*/
h1,h2
{ 
  font-family: "Josefin Sans"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: rgb(46,49,128);
} 
h3,h4
{ 
  font-family: "Josefin Sans"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: rgb(46,49,128);
} 
h5,h6
{ 
  font-family: "Josefin Sans"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: rgb(46,49,128);
} 
p,label,input
{ 
  font-family: "Josefin Sans"; 
  font-size: 17px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
}
/* unvisited link */
a:link,
a:active,
a:visited,
a:hover 
{
  color: white;
  text-decoration: none;
}
/* General Field Forms */
textarea:focus, 
textarea.form-control:focus,
select:focus,
button:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  outline: none;
}

.form-control,
.indexForm
{
    border: 2px groove #000000;
    border-radius: .4rem;
    padding: 1.4rem .75rem;
}
.form-control:focus 
{
    color: #495057;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.formButtonPrimary
{
    background-color: rgb(46,49,128);
    color: #fff;
}
.formButtonPrimary:hover,
.formButtonPrimary:focus
{
    background-color: rgb(46,49,128);
    color: #fff;
    outline: 0;
    box-shadow: inset 0 -1px 0 transparent;
}
.formButtonSecondary
{
    background-color: rgb(231, 0, 0);
    color: #fff;
}
.formButtonSecondary:hover,
.formButtonSecondary:focus
{
    background-color: rgb(231, 0, 0);
    color: #fff;
    outline: 0;
    box-shadow: inset 0 -1px 0 transparent;
}

body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    margin-top: 16px;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 64px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  a.logout
  {
    color: black;
  }
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


/* Modal*/
.modal,
.noticeModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  .noticeHeader,
  .modalHeader
  {
      margin-bottom: 20px;
  }
  
  /* The Close Button */
  .close,
  .closeNoticeModal ,
  .closeNoticeModal1 ,
  .closeNoticeModal2 ,
  .closeNoticeModal3 ,
  .closeNoticeModal4 
  {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }

  .close:hover,
  .close:focus,
  .closeNoticeModal1:hover,
  .closeNoticeModal1:focus,
  .closeNoticeModal2:hover,
  .closeNoticeModal2:focus,
  .closeNoticeModal3:hover,
  .closeNoticeModal3:focus,
  .closeNoticeModal4:hover,
  .closeNoticeModal4:focus,
  .closeNoticeModal:hover,
  .closeNoticeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Navbar */
.navbarPadding
{
    padding: 0;
    background: url(../img/navbar.png);
}
.btnWidth
{
  width: 110px;
  margin-left: -5px;
}
.paginationClass
{
    margin-top: 8px;
    margin-left: 85px;
    font-size: 14px;
}
.dsfPagination
{
  margin-left: 185px;
}
.paginationClass.paginationClassTotal
{
    margin-left: 8px;
    width: 110px;
}
.filterPara
{
  font-size: 14px;
  margin-top: 8px;
  margin-left: 140px;
}
.filterPara.filterParaUser
{
  margin-left: 185px;
}
.filterClass
{
  margin-left: 5px;
  padding: 4px;
  font-size: 14px;
}
.searchPara
{
  font-size: 14px;
}
.driverFilterPara
{
  margin-left: 185px;
}
.truckFilterPara
{
  margin-left: 110px;
}
.dtmFilterPara
{
  margin-left: 195px;
}
.dsfFilterPara 
{
  margin-left: 140px;
}
.searchClass
{
    margin-left: 20px;
    padding: 4px 5px 0px;
    background-color: lightgray;
    border-color: lightgray;
    border-style: solid;
    font-size: 14px;
}
.searchClass.searchClassButton
{
    background: red;
    border: red;
    padding: 2px 30px 6px;
    margin-top: -5px;
    text-decoration: none;
    border-radius: 0;
    margin-left: 1px;
}
/* Index */
.indexFormPosition
{
    margin-top: 60px;
}
.indexHeaderText
{
    margin-top: 210px;
    text-align: center;
}
.indexSubmitButtonDiv
{
    margin-top: 40px;
    text-align: center;
}
.indexSubmitButton
{
    padding: 10px 70px;
    margin-bottom:30px;
}
.indexHeader
{
    -webkit-animation: fadein 2s; 
}
.navbarButtons
{
  margin-right: 3rem;
}
.dashboardImages
{
  width:180px; 
  height:180px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* indexDashboard */

.indexDashboardAlignCenter
{
    text-align: center;
    margin-top: 114px;
}
.indexDashboardAlignCenter2
{
    text-align: center;
    margin-top: 200px;
}
.indexDashboardItem
{
    margin: 20px 0;
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.indexDashboardLinks:link,
.indexDashboardLinks:visited,  
.indexDashboardLinks:hover, 
.indexDashboardLinks:active
{
    text-decoration: none;
    box-shadow: inset 0 -1px 0 transparent;
    outline: 0;
    color: #000;
}
/* Admin */
.adminAlignCenter
{
  text-align: center;
  margin-top: 80px;
}

.adminAlignCenterGrid
{
  text-decoration: none;
  color: black;
}
.adminAlignCenterGrid:hover
{
    text-decoration: none;
}

.adminLinkRef
{
    margin-top: 20px;
    font-size: x-large;
    font-weight: 600;
    color: #2e3180;
}
/* CD */
.adminAddNewField
{
  float: left
}
.adminAlignThings
{
  display: -webkit-box;
}
.adminCardOverFlow
{
    overflow-x: auto;
    white-space: nowrap;
}
.adminAccordionButton,
.adminAccordionButton:hover,
.adminAccordionButton:focus
{
  font-family: "Josefin Sans"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: rgb(46,49,128);
  text-decoration: none;
}
.adminAlignRight
{
  text-align: left;
  margin-bottom: 30px;
}
.adminTableWidthTD
{
  width: 200px;
}
.adminAlignOptionInline
{
    display: -webkit-inline-box;
}
.adminformEdit
{
    margin: 0 5px;
}
/* CD Add */

.adminAddMarginTop
{
  margin-top: 30px;
}
.adminAddFormControl
{
  padding: 1.2rem .75rem;
}
.form-control.adminAddSetPadding
{
  padding: 0.375rem .75rem;
}
.adminAddUserButton
{
    text-align: center;
    margin-top: 30px;
}
/* dtm */
/*******************************The CHECKBOX container START*******************************/
.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cb-padding {
    margin-top: 7.5px;
    margin-right: 15px;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* ******************************The CHECKBOX container END***************************** */
.dtmMarginSubmitButton
{
  margin-bottom: 100px;
}
.dtmTrapezoid
{
    border-bottom: 35px solid rgb(224, 0, 0);
    border-right: 20px solid transparent;
    height: 10px;
    width: 300px;
    margin: 20px 0;
}
.dtmTrapezoidPara
{
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.dtmTableNoWrap
{
  white-space: nowrap;
}
.dsfBorderLeft
{
  border-left: 1px solid black;
}
.dsfBorderTop
{
  border-top: 1px solid black;
  padding-top: 1rem;
}
.dsfBorderBottom
{
  border-bottom: 1px solid black;
}
.dsfBorderRight
{
  border-right: 1px solid black;
}

.dsfTextAlignCenter
{
  text-align: center;
}
.dsfStatement
{
  padding-bottom: 2rem;
}
.dsfField
{
  margin-top: 3rem;
}
.dsfCompanyName
{
  margin: 0;
}
.dsfAlignCenter
{
  text-align:left;
}
.dsfCompanyMargin
{
  margin: 20px auto;
}
.displayBlockQuantity
{
  display: block;
}
.removeWidth
{
  width:auto;
}