@media screen and (max-width: 1600px) 
{
     .indexFormPosition 
     {
          margin-top: 50px;
     }
}
@media screen and (max-width: 1360px) 
{
     .indexFormPosition 
     {
          margin-top: 45px;
     }
}
@media screen and (max-width: 1200px) 
{
     .indexHeaderText 
     {
          margin-top: 190px;
          text-align: center;
     }
     .indexSubmitButton 
     {
          padding: 10px 60px;
     }
     .navbarButtons
     {
       margin-right: 2rem;
     }
}
@media screen and (max-width: 1100px) 
{
     .indexHeader 
     {
       font-size: 26px;
     }
}
@media screen and (max-width: 1035px) 
{
     .indexSubmitButton 
     {
          padding: 10px 50px;
     }
}
@media screen and (max-width: 865px) 
{
     .indexHeader 
     {
          font-size: 25px;
     }
     .dashboardImages
     {
          width:170px; 
          height:170px;
     }
}
@media screen and (max-width: 825px) 
{
     .dashboardImages
     {
          width:165px; 
          height:165px;
     }
}
@media screen and (max-width: 770px) 
{
     .indexHeaderText 
     {
          margin-top: 170px;
          text-align: center;
     }
}
@media screen and (max-width: 767px) 
{
     .dashboardImages 
     {
          width:180px; 
          height:180px;
     }
     .navbarButtons
     {
       margin-right: 1rem;
     }
}
@media screen and (max-width: 770px) 
{
     .indexHeaderText 
     {
          margin-top: 150px;
          text-align: center;
     }
}

@media screen and (max-width: 670px) 
{
.navbarButtons
     {
       margin-right: 0rem;
     }
}

